*{
  margin: 0;
  /* background-color: black; */
}
/* body{
  background-color: rgb(31, 31, 31)
} */
.error{
  position: absolute;
  color: rgb(224, 4, 4);
  
}
.bio-graph-info {
    color: #89817e;
}

.bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;

}

.bio-row p span {
    width: 100px;
    display: inline-block;
    color: black;
}

.bio-graph-heading {
  background: #000d68;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 300;
}

